body{
	font-family: 'Open Sans', sans-serif;
}

header{
	background: #fff;
	min-height: 230px;
}

header ul{
	list-style: none;
	padding: 0;
}

header .logo a{
	margin: 55px 0 0 0;
	display: inline-block;
}


header .logo a img{
	width: 100%;
}

.header_for_social{
	padding-top: 100px;
}

.social li{
	float: left;
	margin: 0 20px 0 0;
}

.social li a{
	display: block;
	color: #fff;
	background: #e3e3e3;
	font-size: 24px;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 3px;
}

.social li a:hover{
	background: #000;
}

header .contacts{
	font-size: 20px;
	font-weight: 300;
	margin: 60px 0 0 0;
}

nav{
	min-height: 65px;
	background: #f9f9f9;
}

nav ul{
	list-style: none;
	padding: 0px;
}

nav ul li{
	float: left;
	padding: 20px 0;
}

nav ul li a{
	color: #000;
	font-size: 20px;
	padding: 0 24px;
	font-weight: 300;
	text-align: center;
	border-right: 2px solid #e3e3e3;
}

nav ul li:last-child a{
	border-right: none;
	padding-right: 0px;
}

nav ul li:first-child a{
	padding-left: 0px;
}

nav ul li:hover a{
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
}

nav .activ{
	font-weight: 500;
}

nav .activ:hover{
	text-shadow: none;
}


