body{
	font-family: 'Open Sans', sans-serif;
}

.pd_top_50{
	padding-top: 50px;
}

.pd_bottom_50{
	padding-bottom: 50px;
}

header{
	background: #fff;
	min-height: 230px;
}

header ul{
	list-style: none;
	padding: 0;
}

header .logo a{
	margin: 55px 0 0 0;
	display: inline-block;
}


header .logo a img{
	width: 100%;
}

.header_for_social{
	padding-top: 100px;
}

.social li{
	float: left;
	margin: 0 20px 0 0;
}

.social li a{
	display: block;
	color: #fff;
	background: #e3e3e3;
	font-size: 24px;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 3px;
}

.social li a:hover{
	background: #000;
}

header .contacts{
	font-size: 20px;
	font-weight: 300;
	margin: 60px 0 0 0;
}

nav{
	min-height: 65px;
	background: #f9f9f9;
}

nav ul{
	list-style: none;
	padding: 0px;
}

nav ul li{
	float: left;
	padding: 20px 0;
}

nav ul li a{
	color: #000;
	font-size: 20px;
	padding: 0 24px;
	font-weight: 300;
	text-align: center;
	border-right: 2px solid #e3e3e3;
}

nav ul li:last-child a{
	border-right: none;
	padding-right: 0px;
}

nav ul li:first-child a{
	padding-left: 0px;
}

nav ul li:hover a{
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
}

nav .activ{
	font-weight: 500;
}

nav .activ:hover{
	text-shadow: none;
}

#select_table{
	background: url('../img/template/back.png');
}

h1{
	text-align: center;
	text-transform: uppercase;
	padding: 50px 15px 0 15px;
	font-size: 40px;
}

.h1_2{
	padding: 0 30px;
}

.h1_1, .h1_3{
	height: 2px;
	border-top: 2px solid #000;
	display: inline-block;
	margin: 20px 0 10px 0;
}

.present{
	padding: 50px 15px 0 15px;
}

.present img{
	width: 100%;
}

.form_body{
	padding: 50px 0 0 0;
}

.form_body .title{
	font-size: 24px;
    font-weight: bold;
    padding-top: 30px;
}

.form_body .body{
	background: #f9f9f9;
    padding: 30px;
    overflow: hidden;
}

.form_body .body input{
	padding: 10px 0 10px 38px;
    border: 1px solid #b6b6b6;
    width: 90%;
}

.input_1 input{
	background: #fff url(../img/template/double-arrow-1.png)no-repeat 10px;
}

.input_2 input{
	background: #fff url(../img/template/double-arrow-2.png)no-repeat 10px;
}

.input_3 input{
	background: #fff url(../img/template/double-arrow-3.png)no-repeat 10px;
}

.input_1, .input_2, .input_3{
	float: left;
	width: 25%;
}

select[name="title_table"]{
	height: 41px;
	border: 1px solid #b6b6b6;
}

.form_input{
	text-align: center;
}

.form_input a{
	background: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 13px 30px;
    display: inline-block;
    margin: 30px 0;
    font-size: 18px;
    font-weight: 300;
}

.form_input a:hover{
	text-decoration: none;
	background: #e3e3e3;
	color: #000;
}

.form_input a i{
	margin-right: 15px;
}

.call_back{
	display: none;
    width: 330px;
    padding-top: 40px;
    text-align: center;
}

.call_back h4{	
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.call_back input{	
    width: 90%;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 7px;
}

.call_back input[type="submit"]{	
    border: 2px solid #000;
    background: #000;
    color: #fff;
}

.call_back input[type="submit"]:hover{	
    background: #e3e3e3;
    color: #000;
}

.item{
	border: 1px solid #b6b6b6;
	margin: 0 0 40px 0;
}

.item img{
	width: 100%;
}

.item .description{
	background: #fff;
    padding: 10px;
}

.item .name_model{
	float: left;
    text-align: left;
    padding: 10px 0;
    color: #b6b6b6;
}

.item .price_model{
	text-align: right;
    font-size: 26px;
    font-weight: bold;
}

#table_riw{
	background: #f9f9f9;
}

#table_sleb{
	background: url(../img/template/back.png);
}


